html, body{
	height: 100%;
	width: 100%;
}

section{
	text-align: center;
	height: 100%;
	font-size: 1em;
}

body {
	margin: 0;
	background-color: rgb(209, 205, 205);    /* general, page-wide style rules */
	color: black;
	font-family: helvetica;
}



a {
	text-decoration: none;
}

a:hover {
	color: white;
}

section {
	border-top: 0.1em solid black;
	height: 400px;
	margin-left: 5px;
	margin-right: 5px;
}

#about-div img, #education{
	float: right;
	/* height: 100%;
	width: 100%; */
}

#large-logo, #welcome-message, #login-link, #social-links{   
	align-content: center;
	font-weight: bold;	
}

#about-div, #experience, #skills{
	float: left;
	/* width: 50%; */
}

#about{ 
	float: left;
	justify-content: left;
	width: 50%;
}


#welcome-message {
	padding-top: 10em;
}

#welcome-message, #about-experience{
	justify-content: center;
	color: black;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

li {
	list-style-type: none;	
}

picture {
	background-image: url("me.jpeg");
	background-color: black;
}